body{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    
    font-size: 22px;

}