body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: blueviolet;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    
    font-weight: bold;
    font-size: 48px;
    padding-bottom:20px;
    color:gray;

}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;    
    font-size: 22px;

}
.store{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(226, 226, 226);
    width: 50%;
    padding-bottom: 2px;
}
#resultStorage{
    display:flex;
    flex-direction: column;    
    background-color: rgb(226, 226, 226);
    font-size: 28px !important;
    width: 100%;
    font-weight: normal!important;
}
#inputStorage{
    display:flex;
    flex-direction: column;    
    background-color: rgb(226, 226, 226);
    width: 100%;
    padding-bottom: 2px;
}
.Data{
    display:flex;
    justify-content: right;
    text-align: right;
    font-size: 48px;
    font-weight: bold;
}
.row-button{
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
button{
    width: 33%;
    height: 48px;
    font-size: 48px;
}
.clear-button{
    width: 50%;
    height: 48px;
    font-size: 38px;
    text-align: center;
    background: orange;
    padding-bottom: 2px;
}
.operations{
    background: rgb(168, 203, 236);
}